<mat-tab-group>
  <mat-tab label="Playback">
    <div>
      <app-renderer #renderer [entities]="board?.entities ?? []"></app-renderer>
      <hr>
      <div>
        <mat-form-field>
          <mat-label>Speed</mat-label>
          <input [disabled]="playbackControl?.isRunning ?? false" step="0.1" min="0.1" type="number" matInput [(ngModel)]="speed">
        </mat-form-field>
      </div>
      <div style="flex-direction: row; display: flex; justify-content: center;">
        <div style="width: 200px; display: flex; flex-direction: row; justify-content: space-between;">
          @if (!playbackControl) {
            <button mat-fab (click)="startPaused()">
              <mat-icon>play_arrow</mat-icon>
            </button>
          } @else {
            @if (playbackControl.isRunning) {
              <button mat-fab (click)="playbackControl.pause()">
                <mat-icon>pause</mat-icon>
              </button>
            } @else {
              <button mat-fab (click)="playbackControl.setPlaybackspeed(speed); playbackControl.resume()">
                <mat-icon>play_arrow</mat-icon>
              </button>
            }
            <button mat-fab (click)="playbackControl.stop(); startPaused();">
              <mat-icon>undo</mat-icon>
            </button>
          }
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Settings">
    <mat-accordion>
      
      <!-- Player & AI Control -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Player & AI Control
          </mat-panel-title>
        </mat-expansion-panel-header>
        @if(board; as b) {
          @for (item of b.players; track item) {
            <div style="padding: 5px;">
              <mat-slide-toggle [(ngModel)]="item.data.draggable">{{ item.name }}</mat-slide-toggle>
            </div>
          } @empty {
            <li>There are no items.</li>
          }
        }
      </mat-expansion-panel>
      
      <!-- RngFixing -->
      <mat-expansion-panel #p>
        <mat-expansion-panel-header>
          <mat-panel-title>
            RNG-Fixing
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <button [disabled]="true" mat-button>Load last run RNG</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  
</mat-tab-group>


